*{
  font-family: 'Open Sans', 'sans-ser';
}
.fourthHolder
{
    margin-top:20%;
    position: relative;
}
.title-fourth
{
    width: 570px;
height: 154px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 160%;
letter-spacing: 0.01em;
color: #FFFFFF;

}
.explainNote
{font-family: 'Open Sans', 'sans-ser';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
    width: 500px;
height: 93px;
}
.leftScan-box
{
    /* margin-left: 2%; */
}
.getStarted-btn
{
    width: 170px;
height: 64px;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
border-radius: 10px;
border: 0px;
}
.ringOne
{
    width:380.29px;
height:380.29px;
margin-left: 5%;
position: relative;

}
.ringS
{
    width:263.29px;
height: 263.29px;
position: absolute;
left:73.50%;
margin-top:3%;
}
.ringT
{
    width:123.29px;
 height:123.29px;
 left:76.50%;
margin-top:7%;
 position: absolute;

}
.scanBox
{

width:155px;
height:130px;
background: linear-gradient(121.51deg, #FFFFFF -264.89%, #6D6D6D -77.96%, #11101D 80.93%);
backdrop-filter: blur(5px);
position: absolute;
margin-top:6%;
border-radius: 10px;
margin-right:3%;
z-index: 1;
}
.scanheading
{
    width: 150px;
    height: 26px;
    font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 600;
font-size: 16px;

line-height: 160%;
text-align: center;
letter-spacing: 0.01em;
margin-top:2%;
margin-left:5%;
color: #FFFFFF;
}
.scanTitle-dec
{
    width: 151px;
height: 38px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height:110%;
text-align: center;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.7);
margin-left:5%;

}
.scan-icon
{
    width:15%;
    height:15%;
    margin-left:45%;
    margin-top:9%;
}
.analysis
{
margin-left:15%;
z-index: 1;
 
 position: absolute;
  
}

.paymentMethod
{
    position: absolute;
width: 262px;
height: 110px;
background: linear-gradient(140.32deg, #FFFFFF -277.16%, #14101D 66.28%);
backdrop-filter: blur(5px);
border-radius: 20px;
margin-top:18%;
margin-left:5%;
z-index: 1;

}
.payment-method-icons img
{
    width:38px;
height:38px;
margin-left:9%;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
border-radius: 10px;
}
.payment-method-heading
{
    color:white;
font-weight: 600;
font-size: 16px;
line-height: 160%;
letter-spacing: 0.01em;
margin-left:7%;
margin-top: 2%;
}