*{
  font-family: 'Open Sans', 'sans-ser';
}
.fourthHolder
{
    margin-top:20%;
    position: relative;
}
.title-fourth
{
    width: 570px;
height: 154px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 160%;
letter-spacing: 0.01em;
color: #FFFFFF;

}
.explainNote
{font-family: 'Open Sans', 'sans-ser';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
    width: 500px;
height: 93px;
}

.getStarted-btn
{
    width: 170px;
height: 64px;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
border-radius: 10px;
border: 0px;
}
.ring-relative-al
{
    position: relative;
}
.ringOne
{
 margin-left:5%;
 margin-top:10%;
}


.scanBox
{

width:155px;
height:130px;
background: linear-gradient(121.51deg, #FFFFFF -264.89%, #6D6D6D -77.96%, #11101D 80.93%);
backdrop-filter: blur(5px);
position: absolute;
border-radius: 10px;
z-index: 1;
top: 35%;

}
.scanheading
{
    width: 150px;
    height: 26px;
    font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 600;
font-size: 16px;

line-height: 160%;
text-align: center;
letter-spacing: 0.01em;
margin-top:2%;
margin-left:5%;
color: #FFFFFF;
}
.scanTitle-dec
{
    width: 151px;
height: 38px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height:110%;
text-align: center;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.7);
margin-left:5%;

}
.scan-icon
{
    width:15%;
    height:15%;
    margin-left:45%;
    margin-top:9%;
}
.analysis
{
top:0%;
margin-left:40%;
position: absolute;
width:100%;
height: 100%;
  
}

.paymentMethod
{
    position: absolute;
width: 262px;
height: 110px;
background: linear-gradient(140.32deg, #FFFFFF -277.16%, #14101D 66.28%);
backdrop-filter: blur(5px);
border-radius: 20px;
top:80%;
margin-left: 15%;

}
.payment-method-icons img
{
    width:38px;
height:38px;
margin-left:9%;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #00F5A0 0%, #00D9F5 100%);
border-radius: 10px;
}
.payment-method-heading
{
    color:white;
font-weight: 600;
font-size: 16px;
line-height: 160%;
letter-spacing: 0.01em;
margin-left:7%;
margin-top: 2%;
}