* {
  font-family: "Open Sans", "sans-ser";

}

.heading-start {
  font-family: "Open Sans", "sans-ser";
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.highLight {
  color: #5ce1e6;
}

.details {
  width: auto;
  font-family: "Open Sans", "sans-ser";
  font-size: 16px;
  color: white;
}



.contentBody {
  width:auto;

}

.discountOffers {
  max-width: 408px;
  max-height:auto;
  margin-top:10%;
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  border-radius: 10px;
  color: #ffffff;
}


.disIcon {
  margin-top: 1%;
}

.maintitle {
  color: white;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 140%;
  letter-spacing: 0.01em;

}

.generation {
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 140%;
 
  letter-spacing: 0.01em;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}

.titleEnd {
width:800px;
}

.explainShorts {
 
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.7);
  margin-top:10%;
  width:auto;
}
.rightContent
{
margin-top:5%;
}

.headFooter {
  color: white;
  margin-top:5%; 
}

.headFooter li {
  list-style: none;
}

.userActive {

  width: 126.09px;
  height: 52.82px;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 600;
  font-size: 40.8925px;
  line-height: 130%;
  color: #ffffff;
}

.active {

  width: 145.68px;
  height: 27.26px;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 400;
  font-size: 20.4463px;
  line-height: 130%;
  text-transform: uppercase;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}

.copmpanyActive {
 
  width: 97.12px;

  top: 880px;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 600;
  font-size: 40.8925px;
  line-height: 130%;
  /* or 53px */

  color: #ffffff;
}

.copmpany {

  width: 219.8px;
  height: 27.26px;


  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 400;
  font-size: 20.4463px;
  line-height: 130%;
  /* or 27px */

  text-transform: uppercase;

  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}

.transactionActive {

  width: 158.46px;
  height: 52.82px;
  

  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 600;
  font-size: 40.8925px;
  line-height: 130%;
  /* or 53px */

  color: #ffffff;
}

.transaction {

  width: 149.01px;
  height: 27.26px;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 400;
  font-size: 20.4463px;
  line-height: 130%;
  text-transform: uppercase;
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}
.arrow-icon {
    position: absolute;
    top:30%;
    left:20%;
 
  }
  
.getStarted {
 
 margin-top:30%;
  position: relative;
}

.getStartedtext {
  color: white;
 
  width: 65px;
  font-family: "Open Sans", "sans-ser";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  background-clip: text; 
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
position: absolute;
top:35%;
left:10%;
}
.ring-get-started
{
   
}

.robotHandimg {
margin-top:5%;
  width:100%;
  height:auto;
  z-index: 1;
}

.navHolder
{
    padding-top:3%;
}
.overLayRobot img {
  position: absolute;
z-index:0;

}
.name
{
  margin-left:2%;
}

