
.titleHolder
{
    margin-top:35%;

}
.headInUse 
{

width: 470px;
height: 154px;
left: 835px;
color:white;
font-family: 'Poppins';
font-style: normal;
font-weight: 600px;
font-size: 48px;
line-height: 160%;
letter-spacing: 0.01em;


}
.InuseTitle
{

width: 470px;
height: 87px;
font-weight: 400;
font-size: 18px;
line-height: 160%;
letter-spacing: 0.01em;
color:white;

}
.topBox
{
width: 227px;
height: 200px;
left:330px;
border-radius: 10px;
position: absolute;
margin-top:7% ;


}
.bigBox
{
margin-top:28%;
width:300px;
height:250px;
margin-left:2%;


}
.appStore
{
    margin-left:15%;
}
.greatPaymentNoteHolder
{
     
width: 324px;
height:50px;
background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(40, 48, 63, 0.25);
border-radius: 10px;
top:1830px;
left:350px;
position: absolute;
}
.greatPaymentNoteHolder-title
{
    margin-top:50%;
    margin-left:3%;
}
.checkIcon
{
    margin-left:5%;
    margin-top:5%;
}