*{
  font-family: 'Open Sans', 'sans-ser';
}
.titleTop {
  width: 622px;
  height: 154px;
  font-family: 'Open Sans', 'sans-ser';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height:105%;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.containerHolder-second
{
    margin-top: 9%;
}
.shortWrite
{

width: 570px;
height: 93px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
letter-spacing: 0.01em;
color: rgba(255, 255, 255, 0.7);

}
.btnGetStarted
{
  border: 0px;
width: 170px;
height: 64px;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
border-radius: 10px;

}
.AlIcon
{
    
    height:54px;
 
}
.rewards
{
 
width: 81px;
height: 23px;
margin-left:3%;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 130%;
letter-spacing: 0.01em;
text-transform: capitalize;
color: #FFFFFF;
}
.rewardExplain{
    
width: 366px;
height: 48px;
margin-left:13%;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.7);

}
.send{
    margin-top:2%;

}
.SecuredIcon{
width:400px;
height: 115px;
background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101D 95.11%);
box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
border-radius: 20px;
margin-top:2%;
}

.SecuredImg{
width: 64px;
height: 64px;
}

.sendIcon
{
    
width: 64px;
height:54px;

}

.SecuredNote
{
    /* position: absolute; */
width: 366px;
height: 48px;
left: 80px;
top:50px;

font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: rgba(255, 255, 255, 0.7);

}
.sendTitle
{
    /* position: absolute; */
    width:178px;
    height: 23px;
    font-family: 'Open Sans', 'sans-ser';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    left:75px;
    top:10px;
    
}
.sendNote
{
    /* position: absolute; */
width: 346px;
height: 48px;
font-family: 'Open Sans', 'sans-ser';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: rgba(255, 255, 255, 0.7);
top:35px;
left:70px;

}

/* .leftcontainer
{
  background-color: #5CE1E6;
} */